form li {
	list-style: none;
	margin-bottom: 20px;
}

form ul {
	padding-left: 0;
}

textarea {
	width: 400px;
	height: 300px;
}

label {
	display: block;
	color: #292929;
	cursor: pointer;
	font-family: sans-serif;
	padding-bottom: 8px;
}