html {
	background: #d5dae2;
}

div {
	font-family: helvetica, Arail, sans-serif;
	margin: auto; 
	background: #d5dae2;
	width: 600px;
}

blockquote {
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	height: 50px;
	width: 600px;
	text-align: center;
	vertical-align: center;
}